body {
  background-color: #545f66;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

a {
  color: #ffffff;
}

a:visited {
  color: #ffffff;
}

#encabezado {
  display: grid;
  margin: 0% 2% 0% 2%;
  background-color: #93c0a4;
  border-radius: 5px;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

nav {
  grid-column: 2;
  float: right;
  margin: 0px;
  padding: 0%;
}

.lista-nav {
  list-style-type: none;
  float: right;
  padding: 0px;
}

.lista-exp {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.lista-nav li {
  float: right;
  margin: 0.5em;
}

.lista-contacto{
  width: 100%;
  list-style-type: none;
  padding: 0%;
  grid-column: 2;
}

.lista-contacto a{
  margin: 2px;
  color: #283966;
  text-decoration: none;
}

.lista-contacto a:visited{
  color: #283966;
  text-decoration: none;
}

header {
  grid-column: 1;
  float: left;
  margin: 0% 0% 0% 2%;
}

.boton {
  box-shadow: 0px 0px 0px 2px #9fb4f2;
  background: linear-gradient(to bottom, #545f66 5%, #476e9e 100%);
  background-color: #545f66;
  border-radius: 10px;
  border: 1px solid #4e6096;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 1em;
  padding: 0.3em;
  text-decoration: none;
  text-shadow: 0px 1px 0px #283966;
}

.boton:hover {
  background: linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
  background-color: #476e9e;
}

.boton:active {
  position: relative;
  top: 1px;
}

section {
  margin: 1% 2% 1% 2%;
  display: grid;
  padding: 2%;
  border-radius: 5px;
  background-color: #b79d94;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  justify-items: center;
}

#formulario {
  margin: 1% 2% 1% 2%;
  display: grid;
  padding: 2%;
  border-radius: 5px;
  background-color: #b79d94;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
}

footer {
  margin: 0% 2% 0% 2%;
  border-radius: 5px;
  background-color: #c6878f;
  display: grid;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  padding: 2%;
  color: white;
}

footer ul {
  margin: 0px;
  padding: 0px;
}

footer p {
  margin: 0%;
  padding: 2px;
}

footer li {
  display: inline-flex;
  list-style-type: none;
  margin: 10px;
}

.col-i {
  float: left;
  grid-column: 1;
}

.col-d {
  width: 80%;
  float: right;
  grid-column: 2;
  border-radius: 5px;
}

.accordion {
  background: linear-gradient(to bottom, #da980b 5%, #aa7e1d 100%);
  border-radius: 15px;
  border: 1px solid #cc8c01;
  cursor: pointer;
  color: #f5f5f5;
  font-family: Arial;
  font-size: 17px;
  padding: 15px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  text-decoration: none;
  text-shadow: 0px 1px 0px #93c0a4;
  margin: 1%;
}

.active,
.accordion:hover {
  background: linear-gradient(to bottom, #f7b832 5%, #aa7e1d 100%);
  background-color: #bab1ba;
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

@media only screen and (max-width: 600px) {
  .lista-nav {
    float: none;
    width: 100%;
  }

  .col-d {
    grid-column-start: 1;
    grid-column-end: auto;
  }
}
